body{
    background-color: #ffffff;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.wrapper {
    display: flex;
    justify-content: center;
    font-size: 14px;
    background-color: #ffffff;
    min-width: 320px;
    width: 100%;
    margin: auto;

}
.cont {
    /* display: flex; */
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 6px;
    max-width: 1200px;
    margin: auto;

}

.card {
    /* max-width: 19rem; */
    width: 100%;
    height: auto;
    border: 0px solid #d3d3d3;
    /* box-shadow: 0 0 30px #dad8d8;  */
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #fff; 
}



.card:hover {
    border: 0px solid #777; 
    /* box-shadow: 0 0 32px #181818;  */
    transition: all .31s;
    
}



.card-img-top img {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 2px 22px;
}
.card-body .card-title {
    line-height: 28px;
    font-size: 18px;
    padding: 18px 4px;
    text-align: center;

}

.card-body .card-body {
    line-height: 22px;
    padding: 18px 4px;
    text-align: center;
}




.comment {
    width: 17rem;
    border: 0px solid #dddcdc;
    box-shadow: 0 0 2px rgb(136, 134, 134); 
    background-color: #fffefe;
    margin-top: 5px; 
    display: flex;
    flex-direction: row;
    gap: 2px;
    padding: 2px 2px;
    margin-left: 2rem;

}

.comment-img-top {
    align-self: center;
}
.comment-img-top img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.comment-body {
    font-family: Helvetica, sans-serif;
    line-height: 16px;
}
.comment-body .comment-title {
    text-align: left;
}

.comment-body .comment-body {

    padding: 8px 4px;
    text-align: center;
}


/* control panel */
.user-container {
padding: 5px;

    max-width: 200px;
}
.user-name {
    padding: 2px;
    margin: 0;
}
.user-password {
    padding: 2px;
    margin: 0;
}


